<div id="clouds">
    <div class="cloud-1" data-speed="35000">?</div>
    <div class="cloud-2" data-speed="45000" data-delay="15000">?</div>
    <div class="cloud-3" data-speed="40000">?</div>
    <div class="cloud-4" data-speed="38000" data-delay="20000">?</div>
</div>

        <div class="cover-container">

          <div class="cover">
            <%= form_for(@user, remote: true) do |f| %>
            <% if @user.errors.any? %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <% @user.errors.full_messages.each do |msg| %>
                  <%= msg %><br>
                <% end %>
              </div>
            <% end %>
             <div class="field">
               <%= f.label :name, "Username" %><br>
               <%= f.text_field :name, class: "form-control", required: true %><br>
               <%= f.label :phone_number %><br>
               <%= f.telephone_field :phone_number, class: "form-control", id: 'phone', required: true %>
             </div>
             <div id='button'>
               <%= f.submit "Create Account", class: "btn btn-success form-group" %>
             </div>
            <% end %>
          </div>

        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Created by Diane Cai, Evan Hawk, Matthew Krey, and Zoe Chodosh. Find the code and an overview <a href="https://github.com/zonika/riddle-me-this">here</a>.</p>
          </div>
        </div>
