<!DOCTYPE html>
<html>
<head>
  <title>RiddleMeThis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div id="clouds">
        <div class="cloud-1" data-speed="35000">?</div>
        <div class="cloud-2" data-speed="45000" data-delay="15000">?</div>
        <div class="cloud-3" data-speed="40000">?</div>
        <div class="cloud-4" data-speed="38000" data-delay="20000">?</div>
    </div>
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
        <%= image_tag('riddl_logo_green.png', size:'100') %>
        </div>
      </div>
      <div class="cover">
        <%= yield %>
      </div>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <p>Created by Diane Cai, Evan Hawk, Matthew Krey, and Zoe Chodosh. Find the code and an overview <a href="https://github.com/zonika/riddle-me-this">here</a>.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
